@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

// variables
$primary: hsl(322, 100%, 66%);
$cyanpale: hsl(193, 100%, 96%);
$cyandark: hsl(192, 100%, 9%);
$blue: hsl(208, 11%, 55%);
$heading: 'Poppins', sans-serif;
$medium: 600;
$bold: 700;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container2 {
  max-width: 1240px;
  margin: 0 auto;
}

@mixin media-xs {
  @media screen and (max-width: 600px) {
    @content;
  }
}
