@import 'config';

#first {
  background-image: url('../img/bg-hero-desktop.svg');
  background-color: $cyanpale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2.5rem 4rem;
    flex-wrap: wrap;
    .img-holder {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      img {
        width: 11rem;
        height: auto;
      }
    }
    a {
      background-color: #fff;
      padding: 0.8rem 3.5rem;
      border-radius: 30px;
      text-decoration: none;
      color: $cyandark;
      font-weight: $bold;
      font-size: 0.8rem;
      box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .info-block {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem 2.5rem 4rem;
    .left {
      flex: 1 1;
      padding: 0rem 3rem 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-family: $heading;
        font-weight: $medium;
        font-size: 2.3rem;
      }
      p {
        margin-top: 1.5rem;
        line-height: 1.5rem;
      }
      a {
        margin-top: 2rem;
        padding: 1rem 2rem;
        display: block;
        max-width: 12rem;
        border-radius: 25px;
        background-color: $primary;
        font-weight: $bold;
        font-size: 0.8rem;
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
    }

    .right {
      flex: 1.4 1;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#second {
  background-color: #fff;
  padding: 9rem 4rem 2rem 4rem;
  .container2 {
    .promo-block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 3.4rem 2rem 2.7rem 7rem;
      box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 2.2rem;
      min-height: 20rem;
      .left {
        flex: 1 1;
        h2 {
          font-family: $heading;
          font-weight: $medium;
          font-size: 1.6rem;
        }
        p {
          margin-top: 0.8rem;
          line-height: 1.5rem;
          color: $blue;
        }
      }
      .right {
        flex: 1.2 1;
        display: flex;
        justify-content: flex-end;
        margin-left: 1rem;
        // padding-left: 10rem;
        img {
          max-width: 420px;
          width: 100%;
          height: auto;
        }
      }
    }

    .promo-block-rev {
      @extend .promo-block;
      .right {
        display: block;
        // margin-right: 1rem;
        h2 {
          font-family: $heading;
          font-weight: $medium;
          font-size: 1.6rem;
        }
        p {
          margin-top: 0.8rem;
          line-height: 1.5rem;
          color: $blue;
        }
      }
      .left {
        flex: 1.2 1;
        display: flex;
        margin-left: 0;
        img {
          max-width: 420px;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#promo {
  max-width: 37rem;
  margin: auto;
  padding: 3rem 4rem 3rem 4rem;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  top: 5rem;
  z-index: 1;
  background-color: #fff;
  h2 {
    font-family: $heading;
    font-weight: $medium;
    font-size: 1.8rem;
    text-align: center;
  }
  a {
    padding: 1.5rem 2rem;
    display: block;
    max-width: 19rem;
    border-radius: 45px;
    background-color: $primary;
    font-weight: $bold;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.15);
  }
}

footer {
  background-color: $cyandark;
  padding-top: 10rem;
  padding-bottom: 4rem;
  .container2 {
    padding-left: 2rem;
    padding-right: 2rem;
    .block-container {
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      .contact {
        flex: 2 1;
        display: flex;
        flex-direction: column;
        color: $cyanpale;
        font-size: 0.9rem;
        margin-right: 2rem;
        .address {
          display: flex;
          max-width: 22rem;
          div {
            margin-right: 1.5rem;
            margin-top: 0.2rem;
          }
        }
        .phone {
          margin-top: 1.5rem;
          display: flex;
          div {
            margin-right: 1.5rem;
            margin-top: 0.2rem;
          }
        }
        .email {
          margin-top: 1.5rem;
          display: flex;
          div {
            margin-right: 1.5rem;
            margin-top: 0.2rem;
          }
        }
      }
      .menu1 {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        a {
          color: $cyanpale;
          text-decoration: none;
          &:not(:first-child) {
            margin-top: 1rem;
          }
        }
      }
      .menu2 {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        a {
          color: $cyanpale;
          text-decoration: none;
          &:not(:first-child) {
            margin-top: 1rem;
          }
        }
      }
      .social {
        flex: 1 1;
        display: flex;

        div {
          &:not(:first-child) {
            margin-left: 0.5rem;
          }
          a {
            color: $cyanpale;
            text-decoration: none;
            font-size: 2rem;
          }
        }
      }
    }
    p.copyr {
      margin-top: 2rem;
      color: $cyanpale;
      text-align: end;
      font-size: 0.7rem;
    }
    p.attribution {
      text-align: end;
      color: $cyanpale;
    }
  }
}

@import 'responsive';
